* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.left {
    background-color: red;
    width: 40%;
    float: left;
    position: relative;
    height: 100vh;
}

.right {
    background-color: pink;
    width: 60%;
    float: left;
    position: relative;
    height: 100vh;
}

.right > * {
    padding: 10px;
}